/* Main */
body {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 200;
	color: black;
	border: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #2f4f4f;
}
a:hover {
	text-decoration: underline;
	color: #2f4f4f;
}
p {
	text-align: left;
}
table {
	border-width: 1px;
	border-color: black;
}
h1 {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 100;
    font-style: italic;
	overflow: hidden;
	line-height:60px;
	font-size: 72px;
	color: black;
	margin:0px;
	display: inline-block;

}
.central input[type=text],
.central input[type=password] {
	width: 400px;
}
.row {
	width: 100%;
	min-height: 250px;
}
input:focus {
	background: rgba(255,255,255,0);
}
.search {

}
.search form {
	min-width: 250px;
	width: 100%;
	clear: both;
	margin: 0 auto;
}
.search input[search] {
	width: 70%;
	display: inline-block;
	float: all;
	background-color: white;
    background-image: url('img/search.png');
    background-position: 0px 0px; 
    background-size: 15px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
}
.search input[submit] {
	width: 30%;
	display: inline-block;
}
/* end main */
/* Clearfix */
.clearfix {
	clear: both;
}
/* end clearfix */

.container {
	width: 100%;
	height: 90%;
	background: white;
}
.central {
	padding: 0;
	position: absolute;
	text-align: center;
	width: 420px;
	height: 500px;
	margin-top: -250px;
	margin-left: -210px;
	top: 50%;
	left: 50%;
}
.bottom {
	float: left;
	bottom: 0;
	width: 100%;
	height: 70px;
	text-align: center;
	border-top: 1px solid black;
	margin: 70px 0 20px 0;
	z-index: 999;
}
.top-nav {
	margin: 0;
	height: 60px;
	position:relative;
	background: rgba(255,255,255,0.8);
	width: 100%;
	clear:both;
}
.log-bar {
	float: right;
	top:0;
	right:0;
	padding: 15px;
	display: inline-block;
}
.side-bar {
	min-width:250px;
	width: 20%;
	height: 100%;
	top:0;
	bottom: 0;
	float: left;
	display: inline-block;
	padding-top: 30px;
}
.main {
	float:left;
	width: 75%;
	margin-right: 0px;
}
.product {
	vertical-align: center;

	border-color: rgb(100,100,100);
	border-width: 1px;
	border-style: solid;
	overflow: hidden;
	display: inline-block;
}
.product p {
	text-align: left;
	vertical-align: text-bottom;
	font-size: 15px;
	text-overflow: ellipsis;
}
.product span {
	font-size: 17px;
	line-height: 14px;
	vertical-align: text-bottom;
}
.product-slim {
	width: 100%;
	height: 150px;
	margin: 15px 0px;
	padding: 0;
}
.product-slim img {
	overflow: hidden;
	height: 150px;
	width: 150px;
	image-rendering: crisp-edges;
	margin: 0 -15px;
}
.product-medium {
	width: 288px;
	height: 420px;
	padding: 0px 15px 15px 15px;
	margin: 15px;
}
.product-medium img {
	overflow: hidden;
	height: 318px;
	min-width: 318px;
	max-width: 500px;
	image-rendering: crisp-edges;
	margin: 0 -15px;
}
.product-large {
	width: 100%;
	height: 80%;
	padding: 30px;
	margin: 30px;
}
.product-large img {
	overflow: hidden;
	height: 500px;
	min-width: 500px;
	max-width: 700px;
	image-rendering: crisp-edges;
	margin: 0 -15px;
}
.tuile {
	display: inline-block;
	float: left;
}
input {
	border: none;
	background: none;
	cursor: hand;
	font-weight: 200;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	line-height: 16px;
	font-size: 16px;
}
admin input {
	background: #efefef;
}
.product input:hover {
}
.product .quantities {
	border-bottom: 1px solid rgb(100,100,100);
}
.price {
	float:left;
}
.quantities {
	float:right;
	border-bottom: 1px solid rgb(100,100,100);
}
/* Install Effect */

.la-anim-11 {
	position: fixed;
	right: 20px;
	z-index: -1;
	display: inline-block;
	visibility: hidden;
	overflow: hidden;
	height: 1em;
	text-align: right;
	font-weight: 300;
	font-size: 10em;
	line-height: 1em;
	pointer-events: none;
}

.la-anim-11.la-animate {
	visibility: visible;
}

.la-anim-11::after {
	position: relative;
	width: 100%;
	color: rgba(0,0,0,0.1);
	content: "0%\A 10%\A 22%\A 36%\A 48%\A 53%\A 64%\A 71%\A 83%\A 100%\A";
	white-space: pre;
}

.la-anim-11.la-animate::after {
	-webkit-animation: counter 6s steps(10);
	animation: counter 6s steps(10);
}

@keyframes counter { 
	0% { top: 0; } 
	100% { top: -10em; opacity: 0;} 
}
@-webkit-keyframes counter {
	0% { top: 0; } 
	100% { top: -10em; opacity: 0;} 
}
/* end install effect */